*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}

.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a:hover{
    /* background-color: greenyellow; */
    color: red;
}

.nav-links a{
        text-decoration: none;
}
.button-1{
    background-color: #469165;
    border-radius: 4px;
    padding: 12px 16px;
    /* border: none; */
    border: 2px solid transparent;
    color: #FFFFFF;
    box-shadow: 0 0 0 2px #469165;
}

.button-1:hover{
    border: 2px solid white;
    background-color:cornflowerblue ;
    color: black;
}

.button-stroke{
    padding: 12px 16px;
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;

}

.button-stroke:hover{
    background-color: greenyellow;
    color: black;
    border: 2px solid black;
}
.hero{
    max-width: 1280px;
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;


}

.hero h1{
   
            font-size: 55px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
            color: #FFFFFF;
}

.badge{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 8px 10px;
    color: #30B868;
    border-radius: 25px;
}

.dot{
    height: 10px;
    width: 10px;
    margin-right: 8px;
    background-color: #30B868;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(77, 164, 101, 0.3);

}

.green-h1{
    display: block;
    color: #30B868;
}

.hero p{
    font-size: 18px;
    line-height: 24px;
    max-width: 700px;

}

.hero-button{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap:34px;
}

.note-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1{
    margin-top: 34px;
    font-size: 38px;
    font-style: bold;
}

.p{
    margin-top: 8px;
    font-size: 12px;
    color: grey;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    padding: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F95555;
}

.card{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 50px 30px 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.078);
}

.card-container{
    display: flex;
    gap: 24px;
    padding: 10px 40px;
    margin: 20px 60px;
}

.solution{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-top: 25px;
    transition: transform 0.3s ease-in;
}

.s-img img{
    border-radius: 24px;
    margin-right: 24px;
    margin-left: 35px;
}

.lists{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.green-p{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #30B868;
}

.s-text h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.n-p{
     margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    color: grey;
}

.early-div{
    background-color: #F7F6F2;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 60px;


}

.early-div h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.early-div p{
     margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    color: grey;
}

#early-access{
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;
    
    color: #FFFFFF;
}

#footer{
    background-color: #001931;
    padding: 90px;
    text-align: center;
}

#footer p{
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 30px;
}


