*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: -160px;

}

.nav-links{
    display: flex;
    gap: 32px;
    margin: 34px 0px;
    list-style: none;
    padding: 0;
    width: 365px;
    height: 24px;

}

.nav-logo{
    padding: 16px auto;
    margin: 16px 0px;
    /* position: absolute; */
    left: 120px;
}

.nav-links a{
    text-decoration: none;
    height: 24px;
    font-weight: 500px;
    font-size: 16px;
    color: #000000;
}

.nav-btn{
    background-color: #469165;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    width: 164px;
    height: 44px;
    margin: 24px;
    color: #FFFFFF;



     /* border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  border: 1px solid #006a50;
  color: #006a50;
  background-color: white; */
}


.btn-1-text{
    font-weight: 600;
    
}

